<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiportfolio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/506a3e4e-06fc-4437-a7b0-71e6c8ab73de/resourceGroups/SchoolProject/providers/Microsoft.Web/sites/apiportfolio</ResourceId>
    <UserName>$apiportfolio</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://apiportfolio.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>